/*Showing the border and making the sizes of blocks stay the same*/

* {
            border: 1px solid red;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        /*<!-- put in foundation icon font?-->*/


header {
    background-color: #ef3c2b;
    height: 100px;
}

header h1 {
    color: white;
    text-align: center;
    vertical-align: middle;
    /*font-size: 2em;*/
}

header img {
    border-radius: 50%;
    border: 4px solid black;
    overflow: scroll;
}

nav {
    background-color: gray;
    text-align: center;
    font-size: 1.3em;
    padding: 7px 0;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 15px;
}

nav a:hover {
    color: red;
}

.abc {
    background-color: gray;
    width: 150px;
}

.content {
    background-image:url('img/futurama_desktop.jpg');
}

span img {
    width: 200px;
    height: 200px;
    background-color:green;
    margin: 0 auto;
}

/*Two Divs Making Up the Footer*/

footer {
    background-color: blue;
    /*color: gray;*/
    font-size: 3em;
    /*text-shadow: 0px 2px 3px #666; Text must be darker than background*/
}

.hours {
    background-color: yellow; /*textured light yellow instead?*/
    height: 125px;
}

.hours p {
    color: #FF9900;
    text-align: center;
    text-shadow: 0px 2px 3px #FFFF99;
    font-weight:bolder;
}

.location {
    background-color: #ef3c2b;
    /*color: white;*/
    text-align: center;
    height: 125px;
    text-shadow: 0px 2px 3px #555;

}
