@import url(http://fonts.googleapis.com/css?family=Days+One|Doppio+One);
/*Fonts from Google: Days One for titles, Doppio One for paragraphs*/

/*Make the header font bigger - DONE
Decide on and enforce a grid - DONE
Remove 'buying comics' and its columns - DONE
Place 'buying comics' on side of window
Consistent text effects throughout 
Add text to image hovers
Add texture to header and footer bars
Change font for numbers, re: 7 vs. 1
Add transition to nav bar links
Replace placeholder images - DONE */


/*Showing the border and making the sizes of blocks stay the same*/

* {
            border: 1px solid red;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        /*<!-- put in foundation icon font?-->*/

header {
    background-color: #ef3c2b;
    height: 110px;
}

header h1 {
    color: white;
    text-align: center;
    vertical-align: middle;
    font-family: 'Days One', Arial, sans-serif;
    font-size: 3em;
}

header img {
    border-radius: 50%;
    border: 4px solid black;
}

.nav {
    background-color: gray;
    text-align: center;
    font-size: 1.3em;
    padding: 7px 0;
}

.nav a {
    text-decoration: none;
    color: white;
    margin-right: 25px;
    font-family: 'Days One', Arial, sans-serif;
}

.nav a:hover {
    color: #ef3c2b;
}

.abc {
    background-color: gray;
    width: 150px;
}

.content {
    /*background-image:url('img/futurama_desktop.jpg');*/
    background-color: white;
    margin: 25px 0px;
}

span img {
    width: 170px;
    height: 260px;
    margin-right: 15px;
    opacity: .50;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

span img:hover {
    opacity: 1.0;
}

/*Two Divs Making Up the Footer*/

footer {
    /*background-color: blue;*/
    font-size: 2em;
}

.hours {
    background-color: yellow; /*textured light yellow instead?*/
    height: 75px;
    margin: 0 auto;
    transition: height 3s;
    -webkit-transition: height 3s;
}

.hours h3 {
    color: #FF9900;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 0px 2px 3px #FFFF99;
    font-weight:bolder;
    font-family: 'Days One', Arial, sans-serif;
}

.hours div {
    color: #FF9900;
    font-size: .85em;
    text-align: center;
    text-shadow: 0px 2px 3px #FFFF99;
}

.day {
    font-family: 'Doppio One', Arial, sans-serif;
    padding: 3px 0;

}

.hours:hover {
    height: 200px;
}

.location {
    background-color: #ef3c2b;
    height: 100px;
}

.location p {
    font-size: .75em;
    color: #660000;
    text-align: center;
    text-shadow: 0px 2px 3px #FF6666;
    font-weight:bolder;
    font-family: 'Days One', Arial, sans-serif;
}

.location p a {
    color: #660000;
    text-align: center;
    text-shadow: 0px 2px 3px #FF6666;
    font-weight:bolder;
    transition: color 2s, text-shadow 2s;
    -webkit-transition: color 2s, text-shadow 2s; /* Safari */    
}

.location p a:hover {
    color: white;
    text-shadow: 0px -2px 3px #333333;
}
